.fizz {
            color: blue;
        }
        .buzz {
            color: blue;
        }
        .fizzbuzz {
            color: red;
        }
        .number {
            color: black;
        }